*

!.gitignore
!public_admin/
!public_admin/**
!im_server/
!im_server/**

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.db
**/*.log
**/.env
**/.env.*
**/node_modules/
**/bin/
*.vsix
*.zip

public_admin/config/nginx_ak2025.conf
public_admin/deploy.ps1
public_admin/deploy_nginx_api.sh
